* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container {
    display: flex;
    width: max-content;
    height: fit-content;
    background-color: white;
    border-bottom: 1px solid gray;
}
.nav-container {
    margin-top: 36px;
}
li {
    list-style: none;
    float: left;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-right: 40px;
}
.menu:hover {
    color: rgb(157, 58, 58);
    padding-bottom: 38px;
    border-bottom: 4px solid black;
}
#outdoor {
    height: 40px;
    margin-top: -8px;
    margin-right: 116px;
    margin-bottom: -14px;
}
.choice-container {
    margin-top: 24px;
    margin-left: 24px;
}
.choice {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    
}
#item-name:hover {
    color: #c22014;
}
#code {
    font-size: 12px;
    color: gray;
    margin-bottom: 12px;
}
.item {
   display: flex;
}
.item > img {
    width: 33%;
    margin-top: 24px;
    margin-left: 24px;
}
.item > .heading {
    padding: 20px;
    margin-left: 24px;
    margin-bottom: 12px;
    width: 30%;
}
.hashtag {
    font-size: 12px;
    background-color: #eeeeee;
    padding: 6px;
    margin-right: 8px;
    margin-bottom: 4px;
}
.hashtag-container {
    margin-top: 12px;
}
.cost-container {
    margin-top: 24px;
}
.cost-will{
    margin-top: 12px;
}
.cost {
    margin-top: 12px;
}
.mile {
    margin-top: 12px;
    font-size: 12px;
}
.border-container {
    margin-top: 24px;
    height: 1px;
    background-color: black;
}
.color {
    margin-right: 12px;
    margin-top: 12px;
    display: flex;
    font-size: 16px;
    font-weight: lighter;
}
.cloth {
    width: 72px;
    height: 72px;
    margin-left: -10px;
}
.cloth:hover {
    box-shadow:  0 2px 0 0 black;
}
.color-choice {
    display: flex;
    margin-top: 12px;
    margin-left: 56px;
}
.size-container {
    margin-top: 12px;
    margin-left: 56px;
}
.size-container > button{
    border: 0;
    padding: 10px;
}