* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container {
    display: flex;
    width: max-content;
    height: fit-content;
    background-color: white;
    border-bottom: 1px solid gray;
}
.nav-container {
    margin-top: 36px;
}
li {
    list-style: none;
    float: left;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-right: 40px;
}
.menu:hover {
    color: rgb(157, 58, 58);
    padding-bottom: 38px;
    border-bottom: 4px solid black;
}
#outdoor {
    height: 40px;
    margin-top: -8px;
    margin-right: 116px;
    margin-bottom: -14px;
}

.slideshow-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.mySlides {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.item {
    float: left;
}
#item-left {
    margin-top: 72px;
    width: 50%;
    height: 75%;
}
#item-righttop {
    margin-top: 72px;
    width: 50%;
    height: 40%;
}
#item-rightbottom {
    width: 25%;
    height: 35%;
}
#vest {
    width: 100%;
}
.item > #vest:hover {
    content: url(vest.jpg);
}
#choice {
    width: 25%;
    height: 400px;
    background-color: #f6f6f6;
    padding: 8px;
}
